@font-face{
  font-family: punk;
  src: url(Fuentes/nagayama_kai08.otf) format(opentype);
}
@font-face{
  font-family: creatodisplay;
  src: url(Fuentes/CreatoDisplay-Light.otf) format(opentype);
}
@font-face{
  font-family: japan;
  src: url(Fuentes/HIROMISAKE.ttf) format(truetype);
}
body{
  background-image: url(Fondos/japan-black-and-white-0e2wxbqwp16erfkn.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0; /* Elimina el margen del body */
  padding: 0;
}
header{
  background-color: black;
  padding: 5px 0;
  text-align: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.titulo{
  color: white;
  font-family: japan;
  font-style: italic;
}
/* Estilo para el nav */
nav {
  background-color: #121212; /* Fondo oscuro */
  padding: 5px 0; /* Espaciado arriba y abajo */
  width: 100%; /* Ancho del nav */
  margin: 85px auto 0; /* Aumenta el margen superior para separar más el nav del header */
  position: fixed;
  z-index: 999;
  left: 0;
}

/* Estilo para el contenedor de la lista dentro del nav */
nav ul {
  list-style: none; /* Elimina los puntos de la lista */
  margin: 0;
  padding: 0;
  display: flex; /* Los elementos estarán en una fila */
  justify-content: center; /* Centra los items del nav horizontalmente */
}

/* Estilo para los elementos de la lista */
nav ul li {
  margin-right: 30px; /* Espacio entre los elementos de la lista */
}

/* Elimina el margen del último ítem */
nav ul li:last-child {
  margin-right: 0; /* Elimina el margen derecho del último ítem */
}

/* Estilo para los enlaces dentro de los items del nav */
nav a {
  text-decoration: none; /* Elimina el subrayado */
  color: white; /* Color del texto */
  padding: 10px 20px; /* Espacio alrededor del texto */
  display: inline-block; /* Hace que el enlace ocupe el espacio adecuado */
  transition: background-color 0.6s ease; /* Transición suave para el hover */
  font-family: creatodisplay;
}

/* Estilo para el efecto hover */
nav a:hover {
  background-color: #555; /* Cambia el color de fondo al pasar el mouse */
}

.contenido {
  padding-top: 160px; /* espacio para header + nav */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
  width: 100%;
}

.cuadro-nombre {
  margin: 20px auto;
  background-color: #dcdcdc;
  padding: 5px 40px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  font-family: japan;
  text-align: center;
  max-width: 200px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* CUADRO DE LA BIOGRAFÍA */
.cuadro-biografia {
  text-align: center;
  background-color: #dcdcdc;
  padding: 5px 20px;
  max-width: 600px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  font-family: creatodisplay;
  margin: 20px auto;
  font-size: 20px;
}

.imagen{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
}

.MartyIndex{
  width: 50%;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  border-radius: 20px;
}
