@font-face {
  font-family: punk;
  src: url(Fuentes/nagayama_kai08.otf) format(opentype);
}

@font-face {
  font-family: creatodisplay;
  src: url(Fuentes/CreatoDisplay-Light.otf) format(opentype);
}

@font-face {
  font-family: japan;
  src: url(Fuentes/HIROMISAKE.ttf) format(truetype);
}

body {
  background-image: url(Fondos/japan-black-and-white-0e2wxbqwp16erfkn.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
}

header {
  background-color: black;
  padding: 5px 0;
  text-align: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.titulo {
  color: white;
  font-family: japan;
  font-style: italic;
}

/* Estilo para el nav */
nav {
  background-color: #121212;
  padding: 5px 0;
  width: 100%;
  margin: 85px auto 0;
  position: fixed;
  z-index: 999;
  left: 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin-right: 30px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav a {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  display: inline-block;
  transition: background-color 0.6s ease;
  font-family: creatodisplay;
}

nav a:hover {
  background-color: #555;
}

.contenido {
  padding-top: 160px; /* espacio para header + nav */
  width: 90%;
  margin: 0 auto;
}

/* NUEVO: contenedor de columnas */
.columnas {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;
  width: 100%;
}

/* NUEVO: cada columna individual */
.columna {
  flex: 1;
}

.titulocontenido {
  margin: 20px auto;
  background-color: #dcdcdc;
  padding: 5px 40px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  font-family: japan;
  text-align: center;
  max-width: 200px;
  font-size: 17px;
}

.JacksonMF1, .JacksonKELLY, .EnglPowerHead, .CarvinX-100B, .BGT8, .BGS10 {
  text-align: center;
  background-color: #dcdcdc;
  padding: 5px 20px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  font-family: creatodisplay;
  margin: 20px auto;
  font-size: 20px;
}

.imagen {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
}

.MF1, .KELLY, .ENGL, .CarvinX100B, .gt8, .gs10 {
  width: 50%;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  border-radius: 20px;
}
